
{% extends 'layout.html' %}

{% block title %}Careers - Quantum Journey{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Careers</h1>
  <p>At Quantum Journey, we're always looking for talented individuals who are passionate about quantum computing and education. Check out our open positions below and join a team that's making a difference.</p>

  <h2> Open Positions </h2>
  <hr>
  <ul class="list-unstyled">
      <li>
        <h3>Quantum Computing Researcher</h3>
        <p>Seeking an experienced researcher to lead our quantum algorithms development team. PhD in quantum physics or related field required.</p>
      </li>
      <li>
        <h3>Educational Content Developer</h3>
        <p>Looking for a creative individual with a strong background in science communication to create engaging quantum computing learning materials.</p>
      </li>
      <li>
        <h3>Quantum Software Engineer</h3>
        <p>Searching for a software engineer with expertise in quantum programming languages and frameworks. Familiarity with Qiskit, Cirq, or similar platforms is a plus.</p>
      </li>
      <li>
        <h3>Community Manager</h3>
        <p>We need a community manager to nurture our growing community of quantum enthusiasts. Strong communication skills and a passion for education are essential.</p>
      </li>
      <li>
        <h3>Front-End Developer</h3>
        <p>Seeking a front-end developer to enhance our online learning platform's user experience. Proficiency in HTML, CSS, JavaScript, and React is required.</p>
      </li>
    </ul>
  <hr>
  <p>If you are interested in any of these positions, please send your resume and a cover letter to careers@quantumjourney.com. We look forward to hearing from you!</p>


</div>
{% endblock %}
