{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Learn Quantum Computing</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">QC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ocw.mit.edu/courses/8-04-quantum-physics-i-spring-2013/" target="_blank">Learn Quantum Physics</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Quantum Computing
                    </a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://azure.microsoft.com/en-us/resources/training-and-certifications/quantum-computing">Microsoft</a></li>
                    <li><a class="dropdown-item" href="https://quantumai.google/education">Google</a></li>
                    <li><a class="dropdown-item" href="https://learning.quantum.ibm.com/">IBM</a></li>
                    </ul>
                </li>
                </ul>

            </div>
            </div>
        </nav>
        <div style="padding: 20px;">
            <h1>Learn Quantum Computing!</h1>
            <button class="btn btn-secondary" data-section="1">Introduction</button>
            <button class="btn btn-secondary" data-section="2">Superposition</button>
            <button class="btn btn-secondary" data-section="3">Qubits</button>
            <button class="btn btn-secondary" data-section="4">Measurement</button>
            <button class="btn btn-secondary" data-section="5">Circuits</button>
            <button class="btn btn-secondary" data-section="6">Entanglement</button>
            <button class="btn btn-secondary" data-section="7">Noise</button>
            <button class="btn btn-secondary" data-section="8">Control</button>
            <button class="btn btn-secondary" data-section="9">Programming</button>
            <div id="content">
            </div>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
